/*****************************************************************TAG SELECTORS********************************************************************/
body{
    font-family: 'PT Sans', sans-serif;
}













/*****************************************************************CLASS SEKECTORS*****************************************************************/
.con1{
    background-color: rgb(181, 202, 238);
    height: 200px;
    width: 200px;
}
.con2{
    background-color: #f0e4e4 ;
    height: 200px;
    width: 200px;
}