<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TinyTreasures</title>
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<body>
    <div class="logo">
        <img src="/static/images/logo.png" alt="" class="image">
    </div>
    <hr class="ruler">
</body>
<div class="msg">
    <p>Welcome to TinyTreasures, your online haven for donating and discovering delightful
        treasures for kids. we believe that every item holds the potential to bring joy, wonder, and cherished
        memories to a child's life.
        At TinyTreasures, we provide a seamless and purposeful platform for donating gently
        loved goods that have outgrown their previous homes but still holds immense value.
        From cuddly toys to trendy apparel,educational books to imaginative playsets, our curated collection
        offers a treasure trove of possibilities.
        We understand that childhood is a precious time, filled with innocence and endless curiosity.By donating
        through TinyTreasures, you become a part of a vibrant community that believes in nurturing the dreams and potential
        of every child. Together, we can make a meaningful impact and support children who may not have access to such
        enriching resources. Our intuitive website allows you to explore and contribute with ease. Browse our wide selection of
        items, thoughtfully organised into categories that cater to various interests and age groups. Each trasure is meticulously
        inspected to ensure quality, safety, and the ability to spark the imagination of young minds.
        TinyTreasures is not just an e-commerce platform; it's a movement dedicated to cultivating compassion and generousity.
        By participating in our mission, you are fostering a culture of giving and teaching future generations the
        importance of sharing and empathy.
        Join us in this heartfelt journey of sharing tiny treasures and watch as your donations create smiles, ignite imagination and
        make a lasting impact on the lives of children. Together, let's celebrate the joy of giving and embrace the power of TinyTreasures.
    </p>
    </div>
    <div class="login">
        <p><button type="button" class="b1" onclick="window.location.href='/signin'">sign in</button>sign in if you already have an account</p>
        
    </div>
    <div class="signp">
        <p><button type="button" class="b2" onclick="window.location.href='/signup'">signup</button>create an account</p>
    </div>
</html>